# Sistema / OS
.DS_Store
Thumbs.db

# Entornos / Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Compilados / Builds
dist/
build/
out/

# Entornos / Config
.env
.env.*

# IDEs / Editores
.idea/
.vscode/
*.swp

